{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/feed_sugestoes.css' %}">
{% include "mensagens/flutuante.html" %}
<h2 class="mb-4">Quem seguir</h2>

<div id="sugestoes-container" class="d-flex flex-wrap gap-3">
  {% for usuario in sugestoes %}
  <div class="usuario-sugestao card p-3" data-username="{{ usuario.username }}"
    style="width: 200px; text-align: center; box-shadow: 0 2px 8px rgba(0,0,0,0.1); border-radius: 10px;">
    <a href="{% url 'perfil' usuario %}" title="Ver Perfil de {{ usuario.username }}">
      {% if usuario.perfil.foto_perfil %}
      <img src="{{ usuario.perfil.foto_perfil.url }}" alt="{{ usuario.username }}" title="{{ usuario.username }}"
      class="rounded-circle mx-auto d-block mb-2" style="width: 60px; height: 60px; object-fit: cover;">
      {% else %}
      <i class="fas fa-user-circle fa-4x text-secondary me-2"></i>
      {% endif %}

      <p class="fw-bold mb-3">{{ usuario.username }}</p>
    </a>
    <h5 class="card-title mb-0">
      <button class="seguir-btn btn btn-primary">
        {% if usuario.ja_segue %}
        Cancelar
        {% else %}
        Seguir
        {% endif %}
      </button>

  </div>
  {% empty %}
  <p class="text-muted">Nenhuma sugestão disponível.</p>
  {% endfor %}
</div>
<hr>
{% endblock %}